* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", Arial, sans-serif;
}

@media (max-width: 530px) {
  .formHeading {
    font-size: 2rem;
    /* text-align: center; */
  }
}

.container {
  max-width: 650px;
  margin: 5px;
  width: calc(100% -10px);
  padding: 30px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 4px solid #ced4da;
  /* background: #fff; */
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}
.test {
  user-select: none;
}
input.input-field {
  opacity: 0;
  z-index: -999;
  position: absolute;
}
span {
  /* font-size: 20px; */
  user-select: none;
  cursor: text;
}
span.active {
  border-bottom: 3px solid #1376a2;
}
span.correct {
  /* background-color: rgb(30, 207, 30); */
  color: rgb(0, 255, 0);
}
span.wrong {
  color: rgb(255, 0, 0);
  /* background-color: pink; */
}
.result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding-top: 10px;
  width: 90%;
}
button.btn {
  padding: 5px;
  outline: none;
  border: 1px solid #ced4da;
  border-radius: 4px;
  cursor: pointer;
  background: #049c13;
  color: #fff;
  font-size: 15px;
  transition: all 0.5s;
  margin-bottom: 1rem;
}
button.btn:hover {
  background: #02500b;
  color: white;
}

.resultBox {
  height: 90vh;
  width: 90%;
  /* background-color: rgb(226, 226, 215); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 4.5rem;
}

.chart {
  height: 70vh;
  width: 70%;
  align-items: center;
  /* border: 3px solid red; */
}
